<!DOCTYPE html>
<html  lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Register User Form</title>

<!-- Bootstrap core CSS -->
<link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>

<!-- Custom styles for this template -->
<link th:href="@{css/custom.css}" rel="stylesheet"/>
</head>
<body>
<!--<nav th:fragment="recruiterNavbar">-->
<!--</nav>-->
<div class="container">
    <h4>New User Registration</h4>
    <form autocomplete="off" action="#" th:action="@{/register}"
          th:object="${user}" method="post">
        First Name <mark><strong>
                        <span th:if="${#fields.hasErrors('firstName')}"
                              th:errors="*{firstName}">First Name Error</span></strong></mark>
        <input type="text" id="firstName" placeholder="First Name"
               th:field="*{firstName}" /><br />
        Last Name <mark><strong>
                        <span th:if="${#fields.hasErrors('lastName')}"
                              th:errors="*{lastName}">Last Name Error</span></strong></mark>
        <input type="text" id="lastName" placeholder="Last Name"
               th:field="*{lastName}" /><br />
        Email <mark><strong>
                        <span th:if="${#fields.hasErrors('email')}"
                              th:errors="*{email}">Email Error</span></strong></mark>
        <input type="text" id="email" placeholder="Email"
               th:field="*{email}" /><br />
        Username <mark><strong>
                        <span th:if="${#fields.hasErrors('username')}"
                              th:errors="*{username}">Username Error</span></strong></mark>
        <input type="text" id="username" placeholder="Username"
               th:field="*{username}" /><br />
        Password <mark><strong>
                        <span th:if="${#fields.hasErrors('password')}"
                              th:errors="*{password}">Password Error</span></strong></mark>
        <input type="text" id="password" placeholder="Password"
               th:field="*{password}" /><br />
        <div class="form-group">
            <label class="section-heading" for="role">Account Type</label>
            <select id="role" name="selectedRole">
                <option value="ROLE_USER">Job Seeker</option>
                <option value="ROLE_RECRUITER">Recruiter</option>
            </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

<div class="container">
    <br/><br/>
    <div class="row">
        <div class="col-md-12 text-center">
            <span class="copyright">Created by Travis Gray 2017</span>
        </div>
    </div>
</div>
</body>
</html>
